.button-solid {
    height: 60px;
    padding-left: 40px;
    padding-right: 40px;
    background: #ffffff;

    color: #2E2E2E;
    font-size: 14px;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
    
    border-radius: 30px;
    border: none;

    cursor: pointer;

    &:hover {
        background: #000000;
        color: white;
    }
    
    &:focus {
        outline: none;
        background: #2f2f2f;
        color: white;
    }
}