.card {
    text-align: center;
    width: 270px;

    /* Tablet */
    @media (max-width: 1199px) {
        width: 195px;
    }

    /* Mobile */
    @media (max-width: 899px) {
      width: 269px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
      width: 290px;
    }
}

.card__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    /* Tablet */
    @media (max-width: 1199px) {
        margin-bottom: 20px;
    }

}

.card__title {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1; 

    /* Tablet */
    @media (max-width: 1199px) {
        margin-bottom: 10px;
        min-height: 32px;
    }

    /* Mobile */
    @media (max-width: 899px) {
      min-height: unset;
    }
}

.card__text {
    color: $paragraphColor;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px; 

    /* Tablet */
    @media (max-width: 1199px) {
        line-height: 22px; 
    }
    }