.section-clients {
  padding-top: 80px;
  padding-bottom: 120px;

}

.section-clients__header {
  margin-bottom: 60px;
  text-align: center;

}

.section-clients__title {
  margin-bottom: 40px;

}

.section-clients__slider{
  width: 770px;
  margin-left: auto;
  margin-right: auto;
}

